[Unit]
Description=GOC Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/GOCd --conf=/etc/GOCd/GOCd.cfg
 
[Install]
WantedBy=multi-user.target